<h2 id="name">Pantry Name</h2>
<h4 id="address">Pantry Address</h4>
<h4 id="city"></h4>
<form class="form request-form">
  <div class="input-group  mb-3">
    <label class="input-group-text" for="item_name">Item Name:</label>
    <input  class="form-control"  type="text" id="item_name" />
  </div>
  <div class="input-group  mb-3">
    <label  class="input-group-text" for="password-login">password:</label>
    <input  class="form-control"   type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">login</button>
  </div>
</form>
</section>
<div>
    <h3>Currently In Need Of:</h3>
    <div >
        <ul id = "pantry_requests">
            
        </ul>
    </div>
</div>
<div>
    <button class = "pantry_page" type = "submit">View Supply Requests</button>
</div>

<script src="./js/stock.js"></script>