
    <div id = "homepage-contents">


      <div class="input-group mb-3 search-contents">
        <input type="text" class="form" id = "searchBar" placeholder="What would you like to donate?" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button type="button" id = "searchBtn" class="btn btn-primary btn-sm">Search</button>
        </div>
      </div>
       
    </div>

    <div id="map">Here.</div>

    <div class="info row">

        <div class="card infoCard" id="card1" style="width: 22.75rem;">
            <div class="card-body">
                <h5 class="card-title">About YouFoods🍋</h5>

                <p class="card-text">YouFoods is a free online website that allows users to set up, contribute to, and track various food shelves that are present in their area.</p>

            </div>
        </div>

        <div class="card infoCard" id="card2" onmouseover="changeToOrangeColor()" onmouseout="changeToBlueColor()" style="width: 22.75rem;">
            <div class="card-body">
                <h5 class="card-title">Looking to Donate?🥝</h5>

                <p class="card-text">Type in the supplies you want to donate into the search bar to see which locations currently need it. We track non-food items as well!!</p>

            </div>
        </div>

        <div class="card infoCard" id="card3"  style="width: 22.75rem;">
            <div class="card-body">
                <h5 class="card-title">Interact with the Markers!! &nbsp; <img id="cherry" alt="cherry" src="https://img.icons8.com/officexs/32/cherry.png"></h5>

                <p class="card-text">Click on a marker to quickly display important information about the location such as its address, name, and items it needs.</p>

            </div>
        </div>

        <div class="card infoCard" id="card4"  style="width: 22.75rem;">
            <div class="card-body">
                <h5 class="card-title">Set Up a Food Shelf!!🍌</h5>

                <p class="card-text">Want to do more than just donate? Click on login to register and set up your own food shelf location!</p>

            </div>
        </div>


    </div>



    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      {{#if local}}
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBdG5RsjMRgKRndDu3SAs1ri_ZtpDyx74&&v=weekly"
      {{else}}
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCD4adZgZWDQxIUdGKvJcB8ArE42C-wegE&&v=weekly"
    {{/if}}
      
    ></script>
    <script src="./js/home.js"></script>