
    <div id = "homepage-contents">
      <h3>My Google Maps Demo</h3>
      <div class="input-group mb-3 search-contents">
        <input type="text" class="form" id = "searchBar" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button type="button" id = "searchBtn" class="btn btn-primary btn-sm">Small button</button>
        </div>
      </div>
       
    </div>
    <div id="map">Here.</div>
    <!--The div element for the map -->
   


    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCD4adZgZWDQxIUdGKvJcB8ArE42C-wegE&&v=weekly"
      
    ></script>
    <script src="./js/home.js"></script>