<h2 id="name">Pantry Name</h2>
<h4 id="address">Pantry Address</h4>
<h4 id="city"></h4>
<div>
    <h3 class = "req_list"> </h3>
    <div >
        <ul id = "pantry_requests">
            
        </ul>
    </div>
</div>
<div>
    <button class = "supply_list" type = "submit">Edit Supply Request List</button>
</div>

<script src="./js/pantry.js"></script>