<div class="row pantryStuff">
    <div class="card pantryCard" style="max-width: 30rem;">
        <div class="card-body pantryInfo">
            <h2 id="name">Pantry Name</h2>
            <h4 id="address">Pantry Address</h4>
            <h4 id="city"></h4>

        </div>
    </div>

    <div class="card pantryCard"style="max-width: 50rem;">
        <div>
            <h3 class="req_list">Currently In Need Of:</h3>
                <div >
                    <ul id = "pantry_requests">
            
                    </ul>
                </div>
        </div>

        <div>
            <button class = "supply_list pantryBtn" type = "submit">Edit Supply Request List</button>
        </div>

    </div>
    <span class = "editDeleteMessage"> </span>
</div>






<script src="./js/pantry.js"></script>