/* Set the size of the div element that contains the map */
#map {
    margin: 0 2% 1% 2%;
    height: 400px;
    /* The height is 400 pixels */
    width: 96%;
    /* The width is the width of the web page */
  }
.jumbo {
  display: flex;
  align-items: center;
  background-image: linear-gradient(to bottom right, #008C76FF, #9ED9CCFF) ;
  
  height: 100px;
}
.foodie{
  text-decoration: none;
  font-size: 40;
  color: white;
  font-family: 'Goldman', cursive;
  
}
.topia0{
  color: white;
}
.topia{
  color: red;
  font-family: 'Anton', sans-serif;
}
.topia2{
  color: yellow;
  font-family: 'Anton', sans-serif;
}
.topia3{
  color: orange;
  font-family: 'Anton', sans-serif;
}
.topia4{
  color: purple;
  font-family: 'Anton', sans-serif;
}
.topia5{
  color: blue;
  font-family: 'Anton', sans-serif;
}
.navBar{

  padding-left: 1%;
  background-image: linear-gradient(to bottom right, #008C76FF, #9ED9CCFF);
}
.nav-text{
  color: rgb(46, 54, 219);
  font-weight: bolder;
}
#homepage-contents {
  display: flex;
  justify-content: center;
}
#homepage-contents h3{
  width: 400px;
  margin-left: 2%;

}

.search-contents{
  margin-top: 6px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 30px;
  width: 100%;

}
#searchBar {
  width: 300px;
  
}
.inputs{
  width: 500px;
}
.login-page {
  display: flex;
  justify-content: space-between;
}
.login-page section{
  margin-bottom: 10px;
}
.login-card{
  /* background-image: linear-gradient(to bottom right, #008C76FF, #9ED9CCFF) ; */
  box-shadow: 5px 2px 2px #605a5b;
  border-radius: 10px 0 10px 0;
}

.login-text{
  color: black;
}
.formBtn{
  float: right;
}
#pantry {
  color:darkgreen;
}

#address {
  color:cornflowerblue;
}
#product {
  color:crimson;
}
input:placeholder-shown {
  font-style: italic;
}
input:focus::placeholder {
  color: transparent;
}
.info{

  width: 96%;

  display: flex;
  justify-content:center;
  margin: 0 2% 1% 2%;
}
.infoCard{


  margin: 0 .3px 0 .3px;
}
.infoCard:hover{
  transform: scale(1.1);
  z-index: 10;
}

.card1{
  color: white;
  background-image: linear-gradient(to bottom right, red, #f46d75) 
}
.card2{
  color: white;
  background-image: linear-gradient(to bottom right, orange, #ffcb62) 
}
.card3{
  color: rgb(35, 141, 35);
  background-image: linear-gradient(to bottom right, yellow, #faf3c0)
}
.card4{
  color: yellow;
  background-image: linear-gradient(to bottom right, purple, #b494c8)
}